
.app{
    margin: 1rem auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Form */
label { margin-bottom: .2rem; font-weight: 600 }
input, select, textarea {
  border-radius: .25rem;
  padding: .75rem 1rem;
  border: .1rem solid lightgray;
  background-color: var(--input-bg-color);
  outline: none;
  transition: all .15s ease-in-out;
}
textarea { height: 7rem }
input:focus, select:focus, textarea:focus{ background-color: #e8f0fe; box-shadow: 0 0 0 0.25rem rgb(6 98 59 / 25%) }

div {
    padding: .5rem;
}